.EditorForm {
  margin: 1vh 0;
  text-align: center;
}

input:focus {
  outline: none;
}

#tag_txt::-webkit-input-placeholder,
#problem_id_txt::-webkit-input-placeholder {
  color: #1976d2;
}

#title_txt {
  width: 90%;
  padding: 1vh;
  border: none;
  font-size: 30px;
  border-bottom: solid 3px #ababab;
  font-weight: bold;
  margin-bottom: 0.5vh;
  box-sizing: border-box;
}

#tag_txt,
#problem_id_txt {
  width: 15%;
  min-width: 150px;
  text-align: center;
  padding: 1vh;
  border: none;
  font-size: 15px;
  border-bottom: solid 3px #ababab;
  font-weight: bold;
  /* margin: 0.5px, 0.5px; */
  margin-right: 2vh;
  color: #1976d2;
}

.tagGroup {
  /* max-height: 5vh; */
  width: 90%;
  display: inline-block;
  text-align: left;
}

#save_btn {
  margin: 1vh;
  display: inline-block;
}

#tag_container {
  display: flex;
}

#tag_list .tags {
  margin: 3px 2px;
}
