.comment_list ul {
  padding: 0;
}

.comment_list textarea {
  resize: none;
  width: 90%;
  height: 42px;
  overflow: visible;
  outline: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.comment_list .add_comment_div {
  vertical-align: middle;
}
