.rank_row {
  width: 100%;
}

.rank_idx {
  width: 9%;
}

.rank_name {
  width: 15%;
}

.rank_status {
  width: 30%;
}
.rank_point {
  width: 10%;
}

.rank_reply {
  width: 10%;
}

.rank_ask {
  width: 10%;
}
