.rank_row {
  width: 100%;
}

.rank_idx {
  width: 9.090909090909092%;
}

.rank_name {
  width: 20%;
}

.rank_status {
  width: 40%;
}
.rank_point {
  width: 9.090909090909092%;
}

.rank_reply {
  width: 9.090909090909092%;
}

.rank_ask {
  width: 9.090909090909092%;
}
