.nav_link {
  text-decoration: none;
  padding: 15px;
  color: rgba(160, 151, 151, 0.849);
}

a:hover {
  color: rgba(0, 0, 0, 0.849);
}

.clicked {
  color: rgba(0, 0, 0, 0.849);
  border-right: 3px solid rgba(30, 114, 209, 40);
  background-color: rgba(220, 220, 221, 0.3);
}

.unclicked {
  border-right: 3px solid rgb(255, 255, 255);
}

.sidebarLeft {
  margin-left: 60px;
  margin-right: 20px;
  min-width: 20vh;
  width: auto;
}

.sidebarRight {
  margin-left: 20px;
  min-width: 20vh;
  width: auto;
}
