.layout_box {
  min-height: 100vh;
}

.layout {
  display: inline-block;
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 600px) {
  .layout {
    margin-top: 56px;
  }
}
.layout .content {
  width: 60vw;
  min-width: 570px;
}
