.rank_table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  margin: auto;
  width: 90%;
}

.layout_box {
  height: 100vh;
}

.layout {
  display: inline-block;
  margin-top: 64px;
}

@media screen and (max-width: 600px) {
  .layout {
    margin-top: 56px;
  }
}
.layout .content {
  width: 60vw;
  min-width: 570px;
}

.rank_table thead {
  border-bottom: 2px solid grey;
}

.rank_table th {
  padding: 0px 0px 20px 20px;
}

.rank_table td {
  padding: 12px 0px 12px 20px;
}

.rank_table tr {
  border-bottom: 1px solid grey;
}
