.usercard {
  display: inline-block;
  width: 300px;
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.usercard .imgbox {
  width: 70px;
}

.usercard .imgbox .userImg {
  width: 60px;
  height: 60px;
  border: 2px solid #24354f;
  border-radius: 50%;
}

.usercard .nickname,
.usercard .intro,
.usercard .nullPoint {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  color: #3a3a3a;
}

.usercard .nickname {
  font-weight: 800;
}

.usercard-helper {
  text-align: right;
}

.usercard-helper {
  margin: 0 1vw;
}

.usercard .nickname {
  text-decoration: none;
  font-size: 16px;
}
