.save_btn {
  min-width: 10vh;
}

.mainheader {
  position: fixed;
  top: 0px;
  width: 100%;
}

.question_header {
  margin: 10px 0 -7px;
  min-width: 400px;
}

.question_header h1 {
  margin-left: 20px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 44px;
}

.top_header .header_title {
  display: inline-block;
  width: 75%;
}

@media screen and (max-width: 950px) {
  .top_header .header_title {
    display: inline-block;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .top_header .header_title {
    display: inline-block;
    width: 60%;
  }
}

.top_header {
  text-align: left;
}

.question_header h1,
.question_header .ask_button {
  display: inline-block;
  width: 80%;
}
