.titleDiv {
  text-align: left;
  padding: 5px;
}

.titleDiv span {
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}

.titleDiv h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #1a202c;
}

.titleDiv .key {
  color: rgb(120, 120, 120);
}

.titleDiv .value {
  margin-left: 5px;
  margin-right: 20px;
}

.titleDiv .icon {
  width: 18px;
  margin: -3px 0px;
  vertical-align: middle;
}

.titleDiv .good,
.titleDiv .bad {
  vertical-align: bottom;
  margin-right: 20px;
}

.titleDiv table {
  display: inline-block;
}

.titleDiv .evaluation {
  float: right;
}

.postPage .answer {
  text-align: left;
  margin: 50px 0px 10px !important;
}

.postPage .like {
  display: inline-block;
}

.postPage .postviewer {
  text-align: right;
}
